.leftDiv {
  background: grey;
  overflow-y: scroll;
  float :left;
  width: 50%;
  height: 100px;
}
.rightDiv{
  background:  grey;
  width: 500px;
  height: 100px;
}
.QuesDiv{
  background: grey;
  display: inline-block;
  width: 500px;
  height: 100px;
}
.jooDiv{
  background: grey;
  width: 100%%;
  height: 80px;
}

.ui-button{
  margin-left: 5px !important;
}
