.leftDiv {
  background: grey;
  overflow-y: scroll;
  float :left;
  width: 50%;
  height: 300px;
}
.rightDiv{
  background:  grey;
  width: 500px;
  height: 300px;
}
.QuesDiv{
  background: grey;
  overflow-y: scroll;
  display: inline-block;
  width: 500px;
  height: 300px;
}
.jooDiv{
  background: grey;
  width: 100%%;
  height: 80px;
}

.movePopup{
  display: none;
  background: grey;
  width: 300px;
  height: 200px;
  position: absolute;
  top: 200px;
  left: 100px;
  text-align: center;
}
